*{
    padding:0;
    margin:0;
}

body{
    background-color: #4a4a4a;
    margin: 0;
    padding: 0;

}

h1{
    font-family: 'Roboto', sans-serif;
	font-size: 55px;
	color: #234a28;
    text-align: center;
    
}

nav{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #4a4a4a;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    width: 50px;
    height: 50px;
}
li, a, button{
font-family: Arial, sans-serif ;
font-weight: 500;
font-size: 16px;
color: #ffffff;
text-decoration: none;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    list-style: none;
}
.links li{
    display: inline-block;
    padding: 0px 20px;

}
.links li a{
    transition: all 0.3s ease 0s;
}
.links li a:hover{
    color: #00e5ff;
}
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #1f1970;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: #424b9c;
}
section{
    background-color: gray;
}

.logoHeader {
    height: 120px;
    vertical-align: middle;
    text-align: center; 
}

.amsterdam1 { 
    float: left; 
    width: 300px ;
    height:150px ;
    transform: rotate(90deg);
}

.amsterdam2 { 
    float: right; 
    width: 300px ;
    height:150px ;
    transform: rotate(90deg);
}

.adam{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    display: block;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    width: 900px;
    padding-left: 20px;
    clear: both;
}
.bolo{
    align-content: center;
    top: 50%;
    right: 50%;
   
    padding: 20px;
    box-sizing: border-box;
    display: block;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: 900px;
    padding-left: 20px;
    clear: both;
    margin: auto;
}
.sportclubs{
    overflow: hidden;
    display: grid;
    grid-template-columns: 70% ;
}
